body {
    max-width: 1500px;
}

/*---------- bouton navBar -------------*/
#talk{
    width: 4000px;
}

#talkTo {
    /* display: flex; */
    background-color: #c5332a;
    width: 200px;
    height: 50px;
    margin-top: -31px;
    margin-left: 504px;
    padding: 18px;
    float: right;
    z-index: 1;

}

#tool {
    background-image: url('../images/tools/btn_feedback.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 48px;
    position: fixed;
    top: 50%;
    right: -10.5%;
    z-index: 1;
}

#tool:hover {
    right: 0;
    transition: 0.5s;
}

/*--------------- Le Post It ----------------------*/
#postIt {
    background: url('../images/tools/postIt_yellow.png');
    background-size: cover;
    width: 340px;
    height: 360px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #003399;
    position: fixed;
    top: 49%;
    right: 1.5%;
    z-index: 2;
}

/*------------NavBar du postit-------------*/

#postItTitle ul {
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding-top: 13px;
    padding-left: 16px ;
    margin: 0;
    width: 100%;
}
#postItTitle li {
    /* margin: 1px; */
    text-align: center;
    border-radius: 3px;
}
#helpTitle, #problemTitle {
    width: 115px;
    padding: 5.5px;
}
#closed {
    background: url('../images/tools/btn_close.png') no-repeat;
    background-size: cover;
    width: 28px;
    height: 28px;
    margin-left: 9px;
}
#helpTitle {
    background-color: #B3DEE5
}
#problemTitle {
    background-color: #EDEA8C;
}

/*------------post it feddback--------------*/

#radio {
    margin:  19px 19px 0 19px;
    padding-left: 4px;
    line-height: 25px;
}

#text {
    margin:  10px 19px 10px 19px;
    width: 73%;
    height: 78px;
    background-color: rgba(245, 245, 241, 0.468);
    font-size: 14px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    width: 271px;
    height: 25px;
    margin-left: 18px;
}

#flag {
    background: url('../images/tools/btn_locate.png') no-repeat;
    background-size: cover;
    width: 161px;
    height: 29px;
}

#send {
    background: url('../images/tools/btn_send.png') no-repeat;
    background-size: cover;
    width: 100px;
    height: 30px;
}

/*------------ post it help-----------*/
#help {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 215px;
    margin: 45px 36px;
}

#helpButton {
    background: url('../images/tools/btn_assistance.png') no-repeat;
    background-size: cover;
    width: 188px;
    height: 46px;
    margin-top: 18px;
}

#response {
    display: none;
    background-color: rgb(237, 234, 140);
    width: 20%;
    border-radius: 18px 18px 0 18px;
    position: fixed;
    top: 44%;
    right: 2.5%;
    box-shadow: 10px 10px 20px rgb(74, 73, 73);
    z-index: 2;
}

#responseP {
    padding: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.highlight-wrap{
  box-sizing: border-box;
}


/*----------------- Compteur -----------------*/

#counter {
    display: flex;
    flex-direction: column;
    background-color: #003399;
    width: 50px;
    height: 90px;
    border-radius: 3px;
    padding: 0;
    position: fixed;
    top: 60%;
    right: 0;
    z-index: 1;
}
#counterIcon {
    width: 100%;
    height: 50%;
    background-image: url('../images/tools/flag_little.png');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 60% 70%;
}

#nbrCounter {
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.673);
    color: #003399;
    width: 100%;
    height: 50%;
    padding-left: 15px;
    margin-top: 8px;
    padding-top: 5px;
}

/*--------------- Feedback page ------------------*/

#feedbackPage {
    display: flex;
    width: 100%;
}

#feedbackIcon {
    width: 70%;
}

.fas, .fa-smile-beam, .fa-frown {
    color: #EDEA8C; 
    text-align: right;
    float: right;
    font-size: 40px;
    margin: 10px;
    text-shadow: -2px 2px #003399, 2px -2px #003399, 2px 2px #003399, -2px -2px #003399;
}

/*---------------- Little FLag ------------------------*/

#littleFlag {
    background-image: url('../images/tools/flag_little.png');
    background-size: cover;
    width: 40px;
    height: 40px;
}




/*---------------- MEDIA ------------------------*/

@media only screen and (max-width: 768px) {
    #tool {
        top: 70%;
        right: -9%;
        width: 15.5%;
    }

    #postIt {
        width: 340px;
        height: 360px;
        position: fixed;
        top: 64%;
        right: 1.5%;
    }

    #counter {
        top: 75%;
        right: 0;
    }

    #response {
        top: 65%;
        right: 5%;
        width: 40%;
    }
}


@media only screen and (max-width: 450px) {
    #tool {
        top: 90%;
        right: 2%;
        width: 15.5%;
    }

    #postIt {
        width: 340px;
        height: 360px;
        position: fixed;
        top: 71%;
        right: -5.5%;
    }

    #response {
        display: none;
        top: 78%;
        right: 11%;
        width: 80vw;
    }

    #counter {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 0;
        position: fixed;
        top: 89%;
        right: 12%;
    }

    #counterIcon {
        display: none;
    }

    #nbrCounter {
        background-color: rgba(255, 255, 255, 0.673);
        color: #003399;
        height: 30px;
    }
}
