#body1{
    background-image: url('../images/background_site/ScreenShot_1.png');
    width: 100vw;
    height: 100vh;
}
#body2{
    background-image: url('../images/background_site/ScreenShot_2.png');
    width: 100vw;
    height: 100vh;
}
#body3{
    background-image: url('../images/background_site/ScreenShot_3.png');
    width: 100vw;
    height: 100vh;
}
#body4{
    background-image: url('../images/background_site/ScreenShot_4.png');
    width: 100vw;
    height: 100vh;
}
#body5{
    background-image: url('../images/background_site/ScreenShot_5.png');
    width: 100vw;
    height: 100vh;
}
/*---------------------- Notre outil --------------------*/
#tool{
    background-image: url('../images/tools/btn_feedback.png');
    width: 200px;
    height: 48px;
}

#postIt{
    background: url('../images/tools/postIt_yellow.png');
    width: 340px;
    height: 323px;
    font-family: 'Source Sans Pro', sans-serif;
}

#postItTitle ul {
    list-style-type: none;
    padding-top: 20px;
    padding-left: 10px ;
    width: 100%;
}
#postItTitle li {
    display: inline-block;
    margin: 1px;
    padding: 5px;
    border: 1px solid #003399;
    text-align: center;
}
#helpTitle, #problemTitle {
    width: 98px;
}
#closed {
    width: 12px;
}
