#body1{
    background-image: url('../images/background_site/ScreenShot_1.png');
    width: 100vw;
    height: 100vh;
}
#body2{
    background-image: url('../images/background_site/ScreenShot_2.png');
    width: 100vw;
    height: 100vh;
}
#body3{
    background-image: url('../images/background_site/ScreenShot_3.png');
    width: 100vw;
    height: 100vh;
}
#body4{
    background-image: url('../images/background_site/ScreenShot_4.png');
    width: 100vw;
    height: 100vh;
}
#body5{
    background-image: url('../images/background_site/ScreenShot_5.png');
    width: 100vw;
    height: 100vh;
}

#tool{
    background-image: url('./images/tools/btn_feedback.png')
}